*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lilita One', cursive;
}
body{
    background-color: #5D768C;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
}

.wrapper{
    box-sizing: content-box;
    width: 26.87em;
    background-color:rgb(#255273,0);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    border-radius: 0.6em;
}
.card-container{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 9.25em;
    height: 9.25em;
}
.image{
    position: absolute;
    width: 30vmin;
    height: auto;
    left: -1%;
}
.card-before,
.card-after{
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
}
.card-after{
    transform: rotateY(180deg);
}
.card-container.flipped .card-before {
    transform: rotateY(180deg);
  }
.card-container.flipped .card-after {
    transform: rotateY(0deg);
  }
button{
    border: none;
    border-radius: 0.5em;
    padding: 0.3em 0.7em;
}
.hide{
    display: none !important;
    visibility: hidden;
}

.start, .game, .howToPlay, .final{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    background-color: #5D768C;
    text-align: center;
    min-height: 100vh;
}
.start{
    z-index: 10;
}

.title{
    margin: 50px auto;
    width: 60%;
    height: auto;
}

.game-title{
    margin: 50px auto;
    width: 50%;
    height: auto;
}

.preview{
    width: 80%;
    height: auto;
    margin: 70px auto;
    padding: 1%;
}

.startButton, .againButton{
    width: 100%;
    position: relative;
    align-self: center;
    background-color: #EF8C67;
    box-shadow: 0px 8px #9E4C2D;
    border: 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 10px;
    padding: 5% 5%;
    margin-bottom: 10%;
    color: white;
    font-size: 25px;
}

.againButton{
    z-index: 10;
    margin: 60px auto;
    color: #2262A0;
    background-color: #FFF8E0;
    box-shadow: 0px 8px #2262A0;
}

.startButton p, .againButton p {
    margin: 3%;
    margin-right: 6%;
}

.words{
    font-size: 20px;
    width: 100%;
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 500;
}

.arrowHead{
    margin-right: 10px;
    max-width: 15px;
}

.video-container,
.choose-container,
.lose-result,
.win-result,
.card,
.game-container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.card-replace{
    width: 500px;
    height: 300px;
}

.instruction-container{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 30px;
    justify-content: center;
}
.instruction-container p{
    color: white;
}

.card-shuffle1,
.card-shuffle2,
.card-shuffle3
{ 
    position: absolute;
    display: flex;
    background-position: center;
    align-items: center;
    justify-content: center;
    width: 30vmin;
    height: 30vh;
}
.card1,
.card2,
.card3{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vmin;
    height: 30vh;
}

  /*mobile*/
  @media screen and (max-width: 767px){
    .startButton, .againButton{
    width: calc(100% - 150px);
    justify-content: center;
    align-items: center;
    }
  }

/*ipad*/
@media screen and (min-width: 768px) and (max-width: 1199px){
    body{
      width: 100%;
    }
    .start,.game{
      left: 0;
      right: 0;
    }
    .preview{
        margin: 125px auto;
        width: 90%;
    }
    .words{
        font-size: 30px;
        width: 90%;
    }
    .card-container,.card-shuffle1,.card-shuffle2,.card-shuffle3{
        margin-left: -6vmin;
        width: 30em;
    }
    .arrowHead{
        max-width: 20px;
    }
    .startButton, .againButton{
        max-width: 350px;
    }
    .instruction-container{
        margin-top: 400px;
        font-size: 50px;
    }
}

/*desktop*/
@media screen and (min-width:1200px){
    body{
      width: 100%;
    }
    .start,.game,.game-container, .video-container{
        max-width: 400px;
        margin: 0 auto;
    }
    .preview{
        max-width: 300px;
        margin: 40px auto;
    }
    .start, .final, .game{
      left: 0;
      right: 0;
    }
    .card-shuffle1 img,.card-shuffle2 img,.card-shuffle3 img,.card1 img,.card2 img,.card3 img{
        width: 20vmin;
    }
    .startButton, .againButton{
        max-width: 250px;
    }
    .card-replace{
        height: 230px;
    }
}