*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
body{
    background-color: #255273;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
}
img{
    width: 148vh;
    height: 190vh;
}
.wrapper{
    box-sizing: content-box;
    width: 26.87em;
    background-color:rgb(#255273,0);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    border-radius: 0.6em;
}
.game-container{
    position: relative;
    width: 100%;
    display: grid;
    gap: 1em;
}
.card-container{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 9.25em;
    height: 9.25em;
}
.image{
    position: absolute;
    width: 6.5em;
    height: 9.2em;
    left: -1%;
}
.card-before,
.card-after{
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
}
.card-after{
    transform: rotateY(180deg);
}
.card-container.flipped .card-before {
    transform: rotateY(180deg);
  }
.card-container.flipped .card-after {
    transform: rotateY(0deg);
  }
.controls-container {
  position: absolute;
  display: flex;
  bottom: 10vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
button{
    border: none;
    border-radius: 0.5em;
    padding: 0.3em 0.7em;
}
.controls-container button{
    font-size: 1.7em;
    background-color: #FF865E;
    color: #0F63A5;
    box-shadow: 0em 0.6em 0.2em rgb(86, 66,0,0.2);
}
.hide{
    display: none;
    visibility: hidden;
}
h1{
    text-align: center;
    color: #fff;
    position: absolute;
    top: 5%;
    width: 100%;
}
.back-video{
    position: absolute;
    justify-content: center;
    top: 4vh;
    width: 97%;
    height: 97%;
}
.video-container,
.choose-container,
.start-container,
.instruction-container,
.lose-result,
.win-result,
.card{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-shuffle1,
.card-shuffle2,
.card-shuffle3
{
    position: absolute;
    display: flex;
    height: 100%;
    background-image: url("./img/Cover.png");
    background-size: 6.5em 9.25em;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.card-shuffle1{
    background-position: 55vh 27vh;
}
.card-shuffle2{
    background-position: 96vh 27vh;
}
.card-shuffle3{
    background-position: 135vh 27vh;
}
@keyframes shuffle12Cu {
    from {background-position-x: 55vh;} to{background-position-x: 75vh;}
    from {background-position-y: 27vh;} to{background-position-y: 60vh;}
}
@keyframes shuffle12Cd {
    from {background-position-x: 75vh;} to{background-position-x: 96vh;}
        from {background-position-y: 60vh;} to{background-position-y: 32vh;}
    }

@keyframes shuffle21Cu {
    from {background-position-x: 96vh;} to{background-position-x: 75vh;}
    from {background-position-y: 32vh;} to{background-position-y: 8vh;}
}
@keyframes shuffle21Cd {
    from {background-position-x: 75vh;} to{background-position-x: 55vh;}
    from {background-position-y: 8vh;} to{background-position-y: 32vh;}
}


@keyframes shuffle23Cu {
    from {background-position-x: 96vh;} to{background-position-x: 115vh;}
    from {background-position-y: 32vh;} to{background-position-y: 60vh;}
}
@keyframes shuffle23Cd {
    from {background-position: 115vh;} to{background-position: 135vh;}
    from {background-position-y: 60vh;} to{background-position-y: 32vh;}
}

@keyframes shuffle32Cu {
    from {background-position-x: 135vh;} to{background-position-x: 115vh;}
    from {background-position-y: 32vh;} to{background-position-y: 8vh;}
}
@keyframes shuffle32Cd {
    from {background-position-x: 115vh;} to{background-position-x: 96vh;}
    from {background-position-y: 8vh;} to{background-position-y: 32vh;}
}

@keyframes shuffle31Cu {
    from {background-position-x: 135vh;} to{background-position-x: 96vh;}
    from {background-position-y: 32vh;} to{background-position-y: 8vh;}
}
@keyframes shuffle31Cd {
    from {background-position-x: 96vh;} to{background-position-x: 55vh;}
    from {background-position-y: 8vh;} to{background-position-y: 32vh;}
}

@keyframes shuffle13Cu {
    from {background-position-x: 55vh;} to{background-position-x: 96vh;}
    from {background-position-y: 32vh;} to{background-position-y: 60vh;}
}
@keyframes shuffle13Cd {
    from {background-position: 96vh;} to{background-position: 135vh;}
    from {background-position-y: 60vh;} to{background-position-y: 32vh;}
}

